{% extends 'basic_app/base.html' %} {% load static %} {% block body_block %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    {% if registered %}
    <h1 class="display-4">Thank you for registering!</h1>
    {% else %}
    <h1 class="display-4">Register here!</h1>
    <p class="lead">Fill out the form here!!.</p>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}{{ user_form.as_p }} {{ profile_form.as_p }}
      <input type="submit" name="Submit button" id="subm" value="Register" />
    </form>
    {% endif %}
  </div>
</div>
{% endblock body_block %}
