l<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/first_style.css'%}"></link>
    <title>Index page!!!</title>
  </head>
  <body>
    <h1>Hello this is index.html</h1>
    <h2>{{ insert_me}}</h2>
    <image
      src="{% static 'images/frida-bredesen-IxlY2KB4Krs-unsplash.jpg' %}"
      alt=""
    />
  </body>
</html>
