<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forms</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
    </style>
  </head>
  <body>
    <div class="container form mx-auto">
      <h1>Fill the form</h1>
      <form method="POST" class="outline-none border decoration-gray-500">
        {{ form.as_p }} {% csrf_token %}
        <input
          type="submit"
          class="border bg-green-500 px-4 py-2 rounded-md"
          value="Submit"
        />
      </form>
    </div>
  </body>
</html>
